<nav class="nav navbar-inverse mynav">
  <% link_to 'home', root_path, class:"nav-link active" %>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>